*, *::before, *::after {
    box-sizing: border-box;  
    margin: 0;
    padding: 0;   
}

/* typography */
body {
    font-family: "Inter", system-ui, serif;
}

h1 {
    font-size: 1.75rem;
    padding-bottom: 0.7rem;
}

h2 {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.1;
    padding-bottom: 0.3rem;
    color: #CCC1FF;
}

h3 {
    font-weight: 400;
    font-size: 1.125rem;
}

p {
    font-size: 1.125rem;
    line-height: 1.3;
    color: #fff;
}

.medium-bold {
    font-weight: 600;
}

.bold {
    font-weight: 800;
    font-size: 1.125rem;
}

.color {
    font-size: 1.25rem;
    font-weight: 700;
    color: #fff;
}

.caption {
    color:#a5a9af; 
    font-size: 1rem; 
    font-weight: 400
}

/* Layout */
.container {
    max-width: 550px;
    display: block;
    margin: 2rem auto;
}

.converter-container {
    background: #6943FF;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    text-align: center;
}

.converter-container div {
    padding: 0.5rem 0;
}

/* Input Field */
.price-entry {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    background-color: transparent;
    border: #B295FF 2px solid;
    border-radius: 3px;
    width: 117px;
    max-width: 200px; /* Limit for larger screens */
    height: 60px;
    font-weight: 800;
    font-size: 2rem;
}

input {
    color: white;
}

input:focus {
    outline: none;
}

input::placeholder {
    color: white;
    opacity: 80%;
    text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* button */
button {
    padding: 9px 30px;
    background-color: #e1d9ff;
    border-radius: 3px;
    border: none;
    font-weight: 800;
    color: #3f2899;
    cursor: pointer;
}

button:hover {
    background-color: #c3b4ff;
}

/* Info Section */
.info-container {
    height: 90%;
    width: inherit;
    background-color: #1F2937;
    margin: 0 auto;
    padding: 1.2rem 0;
}

.info-subcontainer {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 1%;
}

.textbox {
    max-width: 480px;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0.1rem auto;
    padding: 1.2rem;
    background-color: #273549;
}

.two-col-textbox {
    width: 46.5%;
    height: auto;
    margin: 0.8rem auto 0.2rem auto;
    padding: 1rem;
    text-align: center;
    background-color: #273549;
}

.border {
    background-color: #473a7c;
}


/* Responsive Styles */
@media (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }

    .converter-container {
        padding: 0.5rem;
    }

    .price-entry {
        font-size: 1.5rem;
        height: 50px;
    }

    button {
        font-size: 1rem;
        padding: 8px 25px;
    }

    h2 {
        font-size: 0.9rem;
        line-height: 1.3;
        padding-bottom: 0.4rem;
    }

    h3, p {
        font-size: 1rem;
        line-height: 1.2;
        padding: 0;
    }

    .caption {
        font-size: 0.9rem;
        line-height: 1.3;
        padding: 0.2rem;
    }

    .bold {
        font-weight: 800;
        font-size: 1rem;
    }

    .color {
        font-size: 1.125rem;
        font-weight: 700;
        color: #fff;
    }

    .textbox {
        width: 95%;
    }

    .two-col-textbox {
        padding: 1.2rem;
    }

    .info-container {
        padding: 0.8rem;
    }

    .info-subcontainer {
        width: 98%;
    }
}